exports.OPEN_MESSAGE = 'AWESOME_PRIVATE_KEY';

exports.DOOR_IP      = '127.0.0.1';
exports.DOOR_PORT    = 9999;

exports.APP_ID = "";
exports.APP_SECRET = "";
exports.REDIRECT_URI = "http://localhost:3000/oauthcallback";
