extends layout

block content
    .body
        h1 Theodo Door
        button#openDoor.btn(type="button") OPEN

        #status

        a#googleSigninButton.btn.btn-primary(
            href="#{authUrl}"
        ) Google

        div
            button#reinitialize.btn.btn-small(type="button") Réinitialiser

    script(type='text/javascript' src="/javascripts/door.js")
