doctype 5
html
    head
        title Theodo Door
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='//code.jquery.com/jquery-2.0.3.min.js')
        script window.jQuery || document.write('<script src="javascripts/jquery-2.0.3.min.js"><\\/script>')
    body
        block content